.header .header__title {
  font-size: 21px;
}

.settings__top-list,
.settings__mid-list,
.settings__bottom-list {
  border-top: 1px solid #f7f7f7;
  padding-top: 25px;
  margin-top: 25px;
}

.settings i {
  font-size: 20px;
}

.settings__top-setting,
.settings__mid-setting,
.settings__bottom-setting {
  margin-bottom: 30px;
}

.settings__bottom-setting {
  margin-bottom: 170px;
}

.settings__top-title,
.settings__mid-title,
.setting__bottom-title {
  padding-left: 15px;
  width: 200px;
}

.settings__top-icon {
  width: 400px;
}

.settings__top-version {
  margin-left: 300px;
  align-items: center;
  opacity: 0.5;
}
